APP_NAME=empleados

DB_URL=jdbc:mysql://mysql:3306/empleados_db?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=password

SERVER_PATH=/empleados
SERVER_PORT=8080
JSP_PREFIX=/WEB-INF/jsp/

MAXIMUM_POOL_SIZE=10
CONNECTION_TIMEOUT=30000